html {
  box-sizing: border-box;
  font-size: 16px;
  background: #F5F8FA;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/***
*
* Main Styles
*
***/

.container {
  text-align: center;
  margin: 2em;
}

.Search__Form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 2em auto;
}

.Search__Input, .Search__Button {
  font-size: 1.2rem;
  padding: 0.2em;
}

.Search__Results {
  width: 40vw; 
  min-width: 300px;
  margin: 0 auto; 
  text-align: left;
}

.Search__Results--Tweet {
  margin: 1em auto;
  border: 1px solid #eee;
  padding: 2em 4em;
  border-radius: 5px;
  max-width: 500px;
  background: white;
}

.container p {
  margin-top: 1em;
  text-decoration: underline;
}